<app-cabecera></app-cabecera>
<html>
<header>

    <nav class="navbar navbar-sm navbar-dark bg-dark">
        <div class="container-fluid">

          
              <div class="container">
                 
                  <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-primary btn-block" (click)="TraerTodos()">Todos los jugadores</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-success btn-block" (click)="TraerGanadores()">Los ganadores</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-danger btn-block" (click)="TraerPerdedores()">Los perdedores</button>
                    </div>
                  </div>
                </div>
            

                 
                 
          
      
        </div>
    </nav>




    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>

<body>
    <table class="table  table-striped table-dark table-bordered table-hover" id="tablaID">
        <thead>
          <tr>
          
            <th  scope="col" class="col1">USUARIO</th>
            <th  scope="col" class="col2">CUIT</th>
            <th  scope="col" class="col3">SEXO</th>
            <th  scope="col" class="col4">GANO</th>

  
          </tr>
      </thead>
  
          <tbody id="tBodyTable" >
              <tr> 
            
                <tr *ngFor="let jugador of listado" >
                  <td>{{jugador.usuario}} </td>
                  <td>{{jugador.cuit}} </td> 
                  <td>{{jugador.sexo | sexo| uppercase}} </td> 
                  <td>{{jugador.gano}} </td> 
                  
                  <!-- <td><button class="btn btn-warning" (click)="editar(item)">Edit</button>
                  <button class="btn btn-danger" (click)="borrar(item)">Delete</button></td> -->


               
              </tr> 
          
             </tbody>
            </table>
          </body>
</html>
