<br><br>
<div class="container" >
    <!-- class="row" -->
    <div  style="display:flex">
        <div class="card text-white bg-info mb-1" style="max-width: 18rem;">
          <div class="card-header">        
            <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
          </div>
          <div class="card-body" style="margin-bottom: -8%">
            <h5 class="card-title text-white">Velocidad y agilidad aritmética </h5>
            <p class="card-text text-white">Juego de agilidad mental</p>
            <p>UTN FRA </p>
        
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a> 
            <a href="#"><i class="fa fa-linkedin"></i></a> 
            <a href="#"><i class="fa fa-facebook"></i></a> 
            <p><button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
          </div>
        </div>

    <!-- <div class="row"> -->
      <div class="card text-white bg-danger mb-2" style="max-width: 18rem;">
        <div class="card-header">
          <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="card-body"style="margin-bottom: -8%">
          <h5 class="card-title text-white">Piedra Papel o Tijera</h5>
          <p class="card-text text-white">Juega contra la máquina</p>
          <p>UTN FRA </p>
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a> 
          <a href="#"><i class="fa fa-linkedin"></i></a> 
          <a href="#"><i class="fa fa-facebook"></i></a> 
          <p><button class="button"  (click)="Juego('PPT')">Jugar</button></p>
        </div>
      </div>
    <!-- </div> -->


    <!-- <div class="row"> -->
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
        </div>
        <div class="card-body" style="margin-bottom: -8%">
          <h5 class="card-title text-white">Adivina el número secreto</h5>
          <p class="card-text text-white">Juega de estrategia</p>
          <p>UTN FRA </p>
          
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a> 
          <a href="#"><i class="fa fa-linkedin"></i></a> 
          <a href="#"><i class="fa fa-facebook"></i></a> 
          <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
        </div>
    </div>
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header" >
          <img class="img-thumbnail" src="./assets/imagenes/ahorcado.png" alt="Avatar" style="width:100%">
        </div>
        <div class="card-body" style="margin-bottom: -8%">
          <h5 class="card-title text-white">Ahorcado con Imagenes</h5>
          <p class="card-text text-white">Juega contra la máquina adivinando el nombre</p>
          <p>UTN FRA </p>
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a> 
          <a href="#"><i class="fa fa-linkedin"></i></a> 
          <a href="#"><i class="fa fa-facebook"></i></a> 
          <p><button class="button"  (click)="Juego('Ahorcado')">Jugar</button></p>
        </div>
      </div>


  </div>
  </div>
  <!-- </div> -->