<nav class="panel navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/Principal">Sala de Juegos</a>
  <button class="navbar-toggler" type="button"
      (click)="toggleNavbar()">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse"
  [ngClass]="{ 'show': navbarOpen }">
  <ul class="navbar-nav mr-auto">
      <li><a class="nav-item nav-link active" routerLink="/QuienSoy" >¿Quien Soy? <i class="fa fa-user"></i></a></li>
      <li><a class="nav-item nav-link"  *ngIf="usuarioNologeado" routerLink="/Registro"><span class="glyphicon glyphicon-user"></span>Registrarse</a></li>
      <li><a class="nav-item nav-link" *ngIf="usuarioNologeado" routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
  </ul>
  <div class="navbar-nav">
      <!-- <a class="nav-item nav-link"  *ngIf="usuarioLOG" (click)="desloguear()">DESLOGUEAR<i class="fa fa-user"></i></a> -->
      <button type="button"  class="btn btn-outline-dark" *ngIf="usuarioLOG" name="deslog" (click)="deslog()">SALIR<i class="fa fa-user"></i> </button>
 
  </div>
</div>
</nav> 



